// Page title

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;

  // When on any page
  &--top {
    margin-bottom: 6rem;
    animation: fadeIn 0.8s ease-in;

    .heading-primary--main {
      animation: none;
      @include headerTextClip;
    }

    .heading-primary--sub {
      animation: none;
    }

    @include respond(tab-land) {
      margin-bottom: 1rem;
    }

    @include respond(phone) {
      display: inline-block;
      width: 100%;
    }
  }

  // Root, display in the middle
  &--centered {
    @include absCenter;
  }
}
