////////////////////////
// About Section

.content {
  // display: flex;
}

.about {
  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }

  &__skills {
    text-transform: uppercase;
    min-width: 40%;
  }

  &__skill-item {
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
    color: $color-primary-dark;
    margin-bottom: 1.1rem;
    background-image: linear-gradient(
      to right,
      $color-tertiary,
      $color-secondary
    );

    transition: transform 0.7s ease-out, opacity 0.7s ease-out,
      width 0.7s ease-out;

    opacity: 0.8;
    letter-spacing: 0.4rem;

    &--100 {
      @include bar(100);
    }
    &--90 {
      @include bar(90);
    }
    &--80 {
      @include bar(80);
    }
    &--70 {
      @include bar(70);
    }
    &--60 {
      @include bar(60);
    }
    &--50 {
      @include bar(50);
    }
    &--40 {
      @include bar(40);
    }
    &--30 {
      @include bar(30);
    }
    &--20 {
      @include bar(20);
    }
    &--10 {
      @include bar(10);
    }

    &--selected {
      background-image: linear-gradient(
        to right,
        $color-tertiary,
        $color-secondary
      );
    }

    &:hover {
      opacity: 1;
      transform: scaleX(1.1);
    }
  }
}

////////////////////////
// About Section
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  @include respond(tab-land) {
    margin-top: 8rem;
  }

  &__description {
    display: flex;
    width: 100%;
    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__role {
    width: 50%;
    @include respond(phone) {
      width: 100%;
    }
  }
}

////////////////////
// Email section
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  width: 60%;
  padding: 3rem 5rem;
  animation: fadeIn 1s;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.social {
  flex-grow: 1;
  padding: 3rem 5rem;
  display: flex;
  animation: fadeIn 1s 0.5s;
  animation-fill-mode: backwards;

  &__link {
    cursor: pointer;
  }

  // create "diamond" icon background
  &__link:nth-child(even) &__icon-box {
    transform: skew($skew-social) rotate($rotate-social);
  }

  &__link:nth-child(odd) &__icon-box {
    transform: skew(-$skew-social) rotate(-$rotate-social);
  }

  // box around icon
  &__icon-box {
    border: 1px solid transparent;
    padding: 2rem;

    &::after {
      @include bgEffect;
    }
  }

  &__icon-box:hover {
    box-shadow: 0 0.6rem 1rem rgba($color-black, 0.2); /* x y blur color */
    &::after {
      @include bgEffectHover;
    }
  }

  &__icon-box:hover &__icon {
    fill: rgba($color-secondary, 1);
  }

  // svg icon
  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: rgba($color-secondary, 0.7);
  }

  // undo skew for the nested icon
  &__link:nth-child(even) &__icon {
    transform: skew(-$skew-social) rotate(-$rotate-social);
  }

  &__link:nth-child(odd) &__icon {
    transform: skew($skew-social) rotate($rotate-social);
  }
}
