.btn {
    /* link -> special state of the selector (visited should be the same as link) */
    &,
    &:link,
    &:visited {
        background-color: transparent;

        text-transform: uppercase;
        text-decoration: none;
        padding:  1rem 3rem;
        display: inline-block;
        /* can be a transition on all the properties  (.2s for hover, active etc.)*/
        position: relative;
        font-size: $default-font-size;
        color: $color-secondary;
        font-weight: 200;
        letter-spacing: 0.2rem;

        // Change for the <button> element
        cursor: pointer;
        border: 1px solid transparent;
        transition: all .2s ease-out;
    }

    &:active, /*<-when we click*/ 
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2); /* x y blur color */
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black,.2); /* x y blur color */
        transform: translateY(-2px);
        color: $color-secondary-dark;
    }

    &:before {
        content: "";

        position: absolute; 
        top: 50%; 
        left: 1rem;

        transform: translateY(-50%);
        width: 0; 
        height: 0; 
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        transition: all .2s ease-out;
        
        border-left: 0.5rem solid $color-secondary;
    }

    &:after {
        content: "";
        transform: scale(1.4);
        opacity: 0;
        background: $color-secondary; 
        position: absolute; 
        bottom: 0%; 
        left: 0%; 
        height: 50%; 
        width: 100%;
        height: 100%;
        transition: all .2s ease-out;

    }

    &:hover:after {
        transform: scale(1);
        background: none;
        border: 1px solid $color-secondary;
        opacity: 1;
        animation: removeBorder 1s forwards;
    }


    &:hover::before {
        transform: translateY(-50%);
        height: 100%; 
        border: none;
        border-left: 0.2rem solid $color-secondary-dark;
    }
}
