.btn {

    /* link -> special state of the selector (visited should be the same as link) */
    &,
    &:link,
    &:visited {
        background-color: transparent;
        padding:  1rem 3rem;
        display: inline-block;
        position: relative;

        // text styling
        text-transform: uppercase;
        text-decoration: none;
        font-size: $default-font-size;
        color: $color-secondary;
        font-weight: 200;
        letter-spacing: 0.2rem;

        cursor: pointer;
        border: 1px solid transparent;
        transition: all .2s ease-out;
    }

    &:active,
    &:focus {
        outline: none;
        box-shadow: 0 .5rem 1rem rgba($color-black,.2); /* x y blur color */
    }

    &:hover {
        box-shadow: 0 0.6rem 1rem rgba($color-black,.2); /* x y blur color */
        color: $color-secondary-dark;

        // arrow turning into a vertical line
        &::before {
            height: 80%;

            // clear transparent borders
            border-top: none;
            border-bottom: none;
            border-left: 0.2rem solid $color-secondary-dark;
        }

        // background hover effects
        &::after {
            // disappearing background
            transform: scale(1);
            background: none;
            opacity: 1;
            // border flashing effect
            border: 1px solid $color-secondary;
            animation: removeBorder 1s forwards;
        }
    }

    // expanding arrow (hover effect)
    &:before {
        content: "";

        position: absolute; 
        top: 50%; 
        left: 1rem;
        transform: translateY(-50%);
        
        // collapse height to form a triangle
        width: 0; 
        height: 0; 
        
        // 2 transparent borders form an arrow
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        transition: all .2s ease-out;

        // left-to-right arrow >
        border-left: 0.5rem solid $color-secondary;
    }

    // growing background (hover effect)
    &::after {
        content: "";
        // transform: scale(1.2);
        opacity: 0;
        background-color: $color-secondary; 

        position: absolute;
        bottom: 0%; 
        left: 0%; 
        width: 100%;
        height: 100%;

        z-index: -1;
        transition: all .2s ease-out;
    }
}
