// Simple text area

.text-box {
  padding: 3rem 5rem;
  // background-color: rgba($color-primary, 0.4);
  color: $color-grey-light-2;

  @include respond(tab-land) {
    padding: 1.5rem 2.5rem;
  }
}
