/* H1 animation */
@keyframes moveInLeft {
  /* start */
  0% {
    // opacity: 0;
    transform: translateX(-10rem);
  }

  /* overflow a bit in right direction --> */
  80% {
    transform: translateX(1rem);
  }

  /* finish */
  100% {
    // opacity: 1;
    transform: translate(0);
  }
}

@keyframes textBgClip {
  from {
    opacity: 0;
  }
  to {
    @include headerTextClip;
  }
}

@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  /* overflow a bit in right direction --> */
  80% {
    transform: translateX(-1rem);
  }

  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// simple opacity animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// stretch width from 0 to 100% (used for timeline)
@keyframes expandWidth {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes removeBorder {
  to {
    border: 1px solid transparent;
  }
}

// generate growing bar animations for different percentage values
@mixin barAnimation($percentage) {
  animation: load 2s forwards;
  @keyframes load {
    @for $i from 1 through 100 {
      #{$i * 1%} {
        width: $i * 1%;
      }
    }

    100% {
      opacity: 1;
    }
  }
}

// generate increasing counter animations for different percentage values
@mixin counter($percentage) {
  animation: max_#{$percentage} 2s forwards;
  @keyframes max_#{$percentage} {
    @for $i from 1 through $percentage {
      #{$i * 1%} {
        content: "#{$i}%";
      }
    }
  }
}
