/* H1 animation */
@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  /* overflow a bit in right direction --> */
  80% {
    transform: translateX(1rem);
  }

  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  /* overflow a bit in right direction --> */
  80% {
    transform: translateX(-1rem);
  }

  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButton {
  /* start */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  /* finish */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes videoChange {
  0% {
    opacity: 1;
    filter: grayscale(2) opacity(0.5) brightness(0.4) contrast(0.7);
  }

  /* finish */
  95% {
    filter: grayscale(1) brightness(0.4) contrast(1.05);
  }

  100% {
    opacity: 0.2;
    filter: opacity(0.3) grayscale(1) brightness(0.4) contrast(1.05);
  }
}
