/* Everything related to font should be specified in the body */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), local("Lato"),
    url("../fonts/Lato-Regular.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; /* 1.7x{predefined height} */
  color: $color-grey-light-2;
  /* borders are no longer added to the total width or height */
  box-sizing: border-box;
}

.heading-primary {
  color: $color-secondary;
  text-transform: uppercase;

  /* fix shaky animation: */
  backface-visibility: hidden;

  border-bottom: 2px solid $color-secondary;
  padding: 2rem;

  // Main element
  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: textBgClip 1.4s ease-out forwards, moveInLeft 1.4s ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 3rem;
    }
  }

  // Sub-heading
  &--sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 1.2s ease-out 0.5s;
    animation-fill-mode: backwards;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

.heading-tertiary {
  font-size: $default-font-size;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-secondary-dark;

  // Small block of text below
  &--sub {
    display: block;
    font-size: 1.2rem;
    text-transform: none;
    font-style: italic;
    font-weight: 200;
    color: $color-grey-light-2;
    margin-left: 1.5rem;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__block {
    display: inline-block;
    width: 100%;

    margin-bottom: 1rem;
  }
}

// custom list with '-' istead of dot
.list {
  font-size: $default-font-size;
  list-style: none;

  & li {
    padding-left: 1rem;
    text-indent: -0.7rem;
  }

  & li::before {
    content: "- ";
    color: $color-secondary-dark;
  }
}
