// utility classes allow components to remain independant
// & enhance reusable component design
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-fade-in-element {
  animation: fadeIn 1s forwards;
}

.u-fade-in-leave {
  opacity: 1;
}
.u-fade-in-leave.u-fade-in-leave-active {
  opacity: 0;
}

.u-fade-in-enter {
  opacity: 0;
}
.u-fade-in-enter.u-fade-in-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity 0.3s ease-in;
}

.u-fade-in-height {
  transition: height 0.6s ease-in-out;
}
